<div class="container">
    <div class="filters">
      <a routerLink="/catalog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" class="button">All</a>
      <a routerLink="/catalog" [queryParams]="{filter: 'girls'}" routerLinkActive="active" class="button">Girls</a>
      <a routerLink="/catalog" [queryParams]="{filter: 'boys'}"  routerLinkActive="active" class="button">Boys</a>
      <a routerLink="/catalog" [queryParams]="{filter: 'women'}" routerLinkActive="active" class="button">For Her</a>
      <a routerLink="/catalog" [queryParams]="{filter: 'men'}"   routerLinkActive="active" class="button">For Him</a>
    </div>
  
    <ul class="products"  >
      <li class="product-item" *ngFor="let product of getFilteredProducts()">
        <tiff-product-details [product]="product" (buy)="addToCart(product)" ></tiff-product-details>
      </li>
    </ul>
  </div>