<div class="container">
    <div class="hero"></div>
  
    <div class="promoted">
      <img src="/assets/images/homeImg/home_right.png" alt="Happy Cat Cake" />
      <div class="promo-text">
        <div class="promo-main-text">Experience the joy of the holiday season with this year’s limited-edition Festive Delights Advent</div>
        <div class="promo-sub-text cta">
          <div>Enjoy complimentary gift wrap </div>
        </div>
      </div>
      <img src="/assets/images/homeImg/home_left.png" alt="Unicorn Cakes" />
    </div>
  
    <ul class="robot-parts-cta">
      <li>
        <a routerLink="/catalog" [queryParams]="{filter: 'boys'}" class="part">
          <img src="/assets/images/cake/boy_dinosaur.JPG" alt="Boy Dinosaur" />
          <div>Boys</div>
        </a>
      </li>
      <li>
        <a routerLink="/catalog" [queryParams]="{filter: 'girls'}" class="part">
          <img src="/assets/images/cake/girl_Lisa.JPG" alt="Girl Lisa" />
          <div>Girls</div>
        </a>
      </li>
      <li>
        <a routerLink="/catalog" [queryParams]="{filter: 'women'}" class="part">
          <img src="/assets/images/cake/her_wing.JPG" alt="Angel Wing" />
          <div>For Hers</div>
        </a>
      </li>
      <li>
        <a routerLink="/catalog" [queryParams]="{filter: 'men'}" class="part">
          <img src="/assets/images/cake/him_Rolex.JPG" alt="Rolex" />
          <div>For Him</div>
        </a>
      </li>
    </ul>
  
    <!-- <div class="white-paper">
      <img src="/assets/images/robot-apocalypse.png" alt="Robot Apocalyse" />
      <div class="text">
        <div>
          <div class="header-text cta">Will they kill us all?</div>
          <div class="sub-text">
            <p>10 Myths About the</p>
            <p>Robot Apocalyse</p>
          </div>
        </div>
        <div class="large-text">WHITE PAPER</div>
        <a href="" class="learn-more">Learn More</a>
      </div>
    </div> -->
  </div>