<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <!-- <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" /> -->
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Tiffany Yang</h3>
      </div>

      <div class="container mt-4">
        <ul class="list-group">
          <li> <a class='link-opacity-75-hover' href="https://www.linkedin.com/in/yingjie-yang2022/">LinkedIn</a></li>
          <li> <a class='link-opacity-75-hover' href="https://github.com/Tiffany678?tab=repositories">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
